<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmput301.f13t01.createyourownadventure"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="cmput301.f13t01.createyourownadventure.GlobalManager"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="cmput301.f13t01.createyourownadventure.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cmput301.f13t01.createyourownadventure.BrowseOnlineStoriesActivity"
            android:label="@string/title_activity_online_stories" >
        </activity>
        <activity
            android:name="cmput301.f13t01.createyourownadventure.EditFragmentActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cmput301.f13t01.createyourownadventure.ReadFragmentActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cmput301.f13t01.createyourownadventure.EditStoryActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/title_activity_edit_story" >
        </activity>
        <activity
            android:name="cmput301.f13t01.createyourownadventure.EditFragmentInfoActivity"
            android:label="@string/title_activity_edit_fragment_info" >
        </activity>
        <activity
            android:name="cmput301.f13t01.createyourownadventure.EditFragmentContentActivity"
            android:label="@string/title_activity_edit_fragment_content" >
        </activity>
        <activity
            android:name="cmput301.f13t01.createyourownadventure.EditFragmentChoiceActivity"
            android:label="@string/title_activity_edit_fragment_choice" >
        </activity>
        <activity
            android:name="cmput301.f13t01.createyourownadventure.PreviewFragmentActivity"
            android:label="@string/title_activity_preview_fragment" >
        </activity>
        <activity
            android:name="cmput301.f13t01.createyourownadventure.AddAnnotationActivity"
            android:label="@string/title_activity_add_annotation" >
        </activity>
        <activity
            android:name="cmput301.f13t01.createyourownadventure.EditAnnotationActivity"
            android:label="@string/title_activity_edit_annotation" >
        </activity>
        <activity
            android:name="cmput301.f13t01.createyourownadventure.ViewAnnotationActivty"
            android:label="@string/title_activity_view_annotation" >
        </activity>
    </application>

</manifest>