<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmput301.f13t01.createyourownadventure"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:name="cmput301.f13t01.createyourownadventure.GlobalManager"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="cmput301.f13t01.createyourownadventure.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cmput301.f13t01.createyourownadventure.EditFragmentActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cmput301.f13t01.createyourownadventure.ReadFragmentActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cmput301.f13t01.createyourownadventure.EditStoryActivity"
            android:label="@string/title_activity_edit_story"
            android:parentActivityName="cmput301.f13t01.createyourownadventure.MainActivity" >
        </activity>
        <activity
            android:name="cmput301.f13t01.createyourownadventure.EditFragmentInfoActivity"
            android:label="@string/title_activity_edit_fragment_info"
            android:parentActivityName="cmput301.f13t01.createyourownadventure.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmput301.f13t01.createyourownadventure.MainActivity" />
        </activity>
    </application>

</manifest>